<div class="container">

  <app-titulo-pantalla
    [titulo]="'Gestion de trabajadores'"
    [descripcion]="'Gestione los salarios, horas de trabajo, entre otros.'"
    [ejemplo]="'Ej: Hernesto'"
  ></app-titulo-pantalla>

  <div class="row espacio-top-4">
    <div class="col-lg-7">
      <div class="col-md-12">
        <app-input-busqueda
          (busqueda)="escucharBusquedaIngresada($event)"
          [ayuda]="'Realice su busqueda por nombres, apellidos o cedula'"
        ></app-input-busqueda>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="col-md-12">
        <app-select-estado
        (estadoSeleccionado)="buscarEstadoSeleccionado($event)"
        ></app-select-estado>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="col-md-12">
        <button class="btn btn-sm btn-block btn-info"
                (click)="abrirModalCrear()"
        >
          NUEVO
        </button>
      </div>
    </div>

  </div>

  <div class="row espacio-top-3">
    <div class="col-lg-12">
      <div class="col-sm-12">
        <p-table
          [value]="data"
          [columns]="columnas"
          [responsive]="true"
          [lazy]="true"
          (onLazyLoad)="cargarMasDatos($event)"
          [paginator]="true"
          [rows]="5"
          [totalRecords]="cantidad"
          styleClass="p-datatable-gridlines"
        >
          <ng-template pTemplate="caption">
            Trabajadores
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th id="cabecera" *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                <span class="p-column-title">
                  {{col.header}}
                </span>
                <div *ngIf="col.header === 'Nombres'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col.header === 'Apellidos'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col.header === 'Cedula'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col.header === 'Estado'">
                  <button class="btn btn-sm btn-block"
                          [ngClass]="{
                          'btn-success': rowData.estado,
                          'btn-danger': !rowData.estado
                          }"
                          (click)="actualizarEstado(rowData)"
                  >
                    {{rowData.estado ? 'Activo' : 'Inactivo'}}
                  </button>
                </div>
                <div *ngIf="col.header === 'Acciones'">
                  <button class="btn btn-sm btn-block btn-info"
                  (click)="abrirModalEditar(rowData)"
                  >
                    EDITAR
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                No existe registros
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>
    </div>
  </div>
</div>
