<div class="container">
  <div class="row justify-content-md-center">
    <h1 class="titulo">
      {{data.usuario ? 'EDITAR' : 'CREAR'}} USUARIO
    </h1>
  </div>
</div>

<div mat-dialog-content>
  <app-formulario-trabajador
    [usuario]="data.usuario"
    (datosUsuario)="escucharDatosDeFormulario($event)"
  ></app-formulario-trabajador>
</div>

<div
  class="row justify-content-lg-end"
  mat-dialog-actions
>
  <div class="col-sm-3">
    <button
      class="btn btn-sm btn-block btn-outline-dark"
      (click)="cancelarModal()">
      CANCELAR
    </button>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-sm btn-block btn-success"
            [disabled]="!usuarioCrearEditar"
            (click)="enviarDatosModal()">
      CREAR
    </button>
  </div>
</div>
