<p-blockUI [blocked]="ocultar">
  <div class="row">
    <div>
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div class="">
        Cargando...
      </div>
    </div>
  </div>
</p-blockUI>
<div>
  <div class="d-flex flex-row">
    <div class="p-2">
      <app-barra-lateral></app-barra-lateral>
    </div>
    <div class="p-2"></div>
    <div class="p-2">
      <div style="margin-left: 315px">
        <router-outlet></router-outlet>
        <simple-notifications
          [options]="configuracionesNotification"
        ></simple-notifications>
      </div>
    </div>
  </div>
</div>
